@import '~terra-mixins/lib/Mixins';

:local {
  .paginator {
    align-items: center;
    display: flex;
    justify-content: center;

    &.pageless {
      justify-content: space-between;
    }

    &.progressive {
      justify-content: space-between;

      .nav-link.previous {
        margin-left: var(--terra-paginator-progressive-nav-link-previous-margin-left, 0.14285rem);
        margin-right: var(--terra-paginator-progressive-nav-link-previous-margin-right, 0.14285rem);
      }

      .nav-link.next {
        margin-left: var(--terra-paginator-progressive-nav-link-next-margin-left, 0.14285rem);
        margin-right: var(--terra-paginator-progressive-nav-link-next-margin-right, 0.14285rem);
      }
    }

    .nav-link {
      background: var(--terra-paginator-nav-link-background);
      border: var(--terra-paginator-nav-link-border);
      border-radius: var(--terra-paginator-nav-link-border-radius, 3px);
      color: var(--terra-paginator-nav-link-color, #0059a8);
      cursor: pointer;
      display: inline-block;
      line-height: var(--terra-paginator-nav-link-line-height, 1.43);
      margin-left: var(--terra-paginator-nav-link-margin-left, 0.14285rem);
      margin-right: var(--terra-paginator-nav-link-margin-right, 0.14285rem);
      min-width: var(--terra-paginator-nav-link-min-width, 2rem); // Helps ensure limited resizing as you page through large numbers.
      text-align: center;
      user-select: none; // Keeps user from highlighting the paging link text.

      &:hover {
        background: var(--terra-paginator-nav-link-hover-background);
        color: var(--terra-paginator-nav-link-hover-color, #001f67);

        /**
        * nramamurth: Ugh, ain't working
        */
        text-decoration: var(--terra-paginator-nav-link-hover-text-decoration, underline);
      }

      &:focus {
        background: var(--terra-paginator-nav-link-focus-background);
        color: var(--terra-paginator-nav-link-focus-color);
        outline: none;
      }

      &:active {
        background: var(--terra-paginator-nav-link-active-background, rgba(0, 0, 0, 0.07));
        color: var(--terra-paginator-nav-link-active-color, #001f67);
        text-decoration: var(--terra-paginator-nav-link-active-text-decoration, underline);

        /**
        * nramamurth: Moved from 'focus' to 'active' to preserve current behavior.
        */
        box-shadow: var(--terra-paginator-nav-link-active-box-shadow, 0 0 0 2px rgba(76, 178, 233, 0.25), inset 0 0 0 1px #4cb2e9);
        border: var(--terra-paginator-nav-link-active-border);
      }
    }

    .is-selected {
      color: var(--terra-paginator-nav-link-selected-color, inherit);
      cursor: auto;
      pointer-events: none;

      &:hover {
        text-decoration: none;
      }

      &:focus {
        outline: none;
      }
    }

    /**
    * nramamurth: To override Button's disabled style.
    */
    .is-disabled {
      color: var(--terra-paginator-nav-link-disabled-color, #1c1f21);
    }
  }
}
